@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Chivo+Mono:wght@500&family=Electrolize&family=Imprima&family=Lobster+Two&family=Marcellus&family=Modak&family=Rubik&family=Satisfy&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;